*** Kent‰t menev‰t seuraavasti:
*** Kent‰n kuvaus|Tooltip|BibTeX-tyyppi|string/integer|required/optional
*** Kaksi ensimm‰ist‰ kentt‰‰ ovat siis puhtaasti k‰yttˆliittym‰n kuvauksia
*** Kolmas kentt‰ m‰‰ritt‰‰, mik‰ BibTeX-kentt‰ on kyseess‰
*** Nelj‰s kentt‰ m‰‰ritt‰‰, onko kyseess‰ string vai integer
*** Viides kentt‰ m‰‰ritt‰‰, onko kentt‰ pakollinen vai valinnainen


Author|Kirjan tekij‰|author|string|required
Title|Kirjan otsikko|title|string|required
Publisher|Kirjan julkaisija|publisher|string|required
Year|Kirjan julkaisuvuosi|year|integer|required
Volume|Volume|volume|integer|optional
Series|Kirjasarja|series|string|optional
Address|Address|address|string|optional
Edition|Edition|edition|string|optional
Month|Month|month|integer|optional
Tag/Note|Note|note|string|optional
Key|Key|key|string|optional
